---
---
@import "{{ site.theme }}";

.image-about {
  float: left;
  margin-right: 2em;
  margin-bottom: 1em;
  height: 250px;
}

.license {
  font-size: 0.8em;
}

.comment {
  background-color: #fff;
  padding: 1em;
  margin: 2em 0;
  box-sizing: border-box;
  border-top: 1px solid #666;
  h3 {
    margin: 0;
  }
  .comment-date {
    font-size: 0.8em;
    margin-bottom: 1rem;
  }
}

#no-comments {
  text-align: center;
  padding: 2rem 0;
  color: #999;
}
#add-comment {
  border-top: 1px solid #999;
  #comment-form {
    label {
      display: block;
    }
    textarea, input {
      font: inherit;
      width: 70%;
      color: inherit;
      border: 1px solid #999;
      padding: 0.4em;
    }
    fieldset {
      border: 0;
    }
    button {
      padding: 0.6em;
      background-color: white;
      font-size: 0.9rem;
      font-weight: 600;
      color: #333;
      box-shadow: 1px 2px 2px 1px #999;
      border: 0;
    }
    .message {
      font-size: 0.9em;
      padding: 1em;
      &.error {
        color: #b70000;
      }
      &.success {
        color: #3a7c00;
      }
    }
    .hidden {
      display: none;
    }
  }
}
