---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time><br>
      {%- if site.data.comments[page.slug] -%}
        {%- assign comment_count =  site.data.comments[page.slug] | size-%}
      {%- else -%}
        {%- assign comment_count = 0 -%}
      {%- endif -%}
      <a href="#comments">{{comment_count}} comments</a>
      </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- include comments.html -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
